/* Suggest 	font-family: 'Atkinson Hyperlegible', Helvetica, Arial, sans-serif;
 */

/* Regular */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 400;
	src: url('https://extra808.github.io/fonts/woff2/Atkinson-Hyperlegible-Regular-102a.woff2'), url('https://extra808.github.io/fonts/woff/Atkinson-Hyperlegible-Regular-102.woff');
}

/* Bold */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: normal;
	font-weight: 700;
	src: url('https://extra808.github.io/fonts/woff2/Atkinson-Hyperlegible-Bold-102a.woff2'), url('https://extra808.github.io/fonts/woff/Atkinson-Hyperlegible-Bold-102.woff');
}

/* Italic */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 400;
	src: url('https://extra808.github.io/fonts/woff2/Atkinson-Hyperlegible-Italic-102a.woff2'), url('https://extra808.github.io/fonts/woff/Atkinson-Hyperlegible-Italic-102.woff');
}

/* Bold Italic */
@font-face {
	font-family: 'Atkinson Hyperlegible';
	font-style: italic;
	font-weight: 700;
	src: url('https://extra808.github.io/fonts/woff2/Atkinson-Hyperlegible-BoldItalic-102a.woff2'), url('https://extra808.github.io/fonts/woff/Atkinson-Hyperlegible-BoldItalic-102.woff');
}
