/* Suggest 	font-family: 'Atkinson Hyperlegible Next', Helvetica, Arial, sans-serif;
 */

@font-face {
  font-family: 'Atkinson Hyperlegible Next';
  src: url('https://extra808.github.io/fonts/woff2/AtkinsonHyperlegibleNextVF-Variable.woff2')
    format('woff2-variations');
  font-weight: 200 800;
}
